body {
    color: #eee;
    background-color: #222;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav li {
    list-style: none;
    display: inline-block;
}

.nav a {
    text-decoration: none;
    color: aqua;
}

.nav a.active {
    color: magenta;
    font-weight: bold;
}